code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html, body {
    margin: 0;
    background: linear-gradient(120deg, #f6d365, #fda085);
    height: 100%;
    color: grey;
}

a {
    text-decoration: none;
}

.title {
    color: #7c795d;
    font-family: 'Trocchi', serif;
    font-size: 45px;
    font-weight: normal;
    line-height: 48px;
    text-align: center;
    margin: 1em;
}
